<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <% if (locals.user && user.membershipstatus) { %>
        <h1>Congrats, you are a member buddy!</h1>
        <a href="/create">Create a new message</a>
        <a href="/messages">See all messages!</a>
        <a href="/logout">LOG OUT</a>
    <% } else if (locals.user) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a href="/membership">Become our member</a>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <h1>Home Page Buddy!</h1>
        <a href="/signup">Register</a>
        <a href="/login">Login</a>
    <%}%>
</body>
</html>