<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="/membership/secret" method="post">
        <label for="secretpasscode">Secret Passcode:</label>
        <input type="text" name="secretpasscode" id="secretpasscode" placeholder="Remember your last name?" required>
        <button type="submit">Submit</button>
    </form>
    <% if (query.error) { %>
        <p style="color: red;">Incorrect passcode.Try again!</p>
      <% } %>
</body>
</html>