*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

body,html{
    min-height: 100vh;
    width: 100vw;
}

/* Home Page & Sign Up */
.homeCnt, .signup{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: oklch(98.6% 0.031 120.757);
    font-family: 'Poppins', sans-serif;
}
.miniHomeCnt, .miniSignup{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.tinyHomeCnt{
    min-height: 47vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tinyHomeCnt > p{
    font-family: inherit;
    font-size: 5vw;
    color: oklch(98.6% 0.031 120.757);
}
.tinyHomeCnt > p span{
    color: gray;
}
.homelogos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}
.homelogos a{
    width: 25%;
    text-decoration: none;
    border: 2px solid gray;
    padding: 10px;
    font-size: 1.3vw;
    font-weight: bold;
    color: gray;
    border-radius: 10px;
}
.homelogos a:hover{
    border: 2px solid white;
    color: white;
}

.homeMsg{
    min-height: 38vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2vh;
}

.miniHomeMsg{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 0.3vh;
}
.miniHomeMsg p{
    width: 100%;
    text-align: start;
    overflow-wrap: break-word;
    font-size: 2vh;
}
.miniHomeMsg p strong{
    color: gray;
}

.miniSignup > h2{
    font-family: inherit;
    font-size: 3vw;
}
.miniSignup form {
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
.miniSignup form button{
    width: 30%;
    font-family: inherit;
    border: 2px solid white;
    color: black;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
.miniSignup form button:hover{
    color: gray;
    background-color: black;
    border: 2px solid gray;
}

.formCnt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
}
.formCnt2{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.formCnt label, .formCnt2 label{
    font-size: 1.3;
}
.formCnt input{
    width: 100%;
    height: 4vh;
    text-align: start;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 1.1vw;
    color: black;
    font-family: inherit;
}
