*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

body,html{
    min-height: 100vh;
    width: 100vw;
}

/* Home Page & Sign Up & Login */
.homeCnt, .signup, .login, .newUser, .secretCnt, .newMember, .newMsg, .allMsg{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: oklch(98.6% 0.031 120.757);
    font-family: 'Poppins', sans-serif;
}
.miniHomeCnt, .miniSignup, .miniLogin, .miniNewUser, .miniSecretCnt, .miniNewMember, .miniNewMsg, .miniAllMsg{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.miniAllMsg{
    padding: 6vh;
}
.tinyHomeCnt{
    min-height: 47vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tinyHomeCnt > p{
    font-family: inherit;
    font-size: 5vw;
    color: oklch(98.6% 0.031 120.757);
}
.tinyHomeCnt > p span{
    color: gray;
}
.homelogos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}
.homelogos a{
    width: 25%;
    text-decoration: none;
    border: 2px solid gray;
    padding: 10px;
    font-size: 1.3vw;
    font-weight: bold;
    color: gray;
    border-radius: 10px;
}
.homelogos a:hover{
    border: 2px solid white;
    color: white;
}

.homeMsg{
    min-height: 38vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2vh;
}

.miniHomeMsg{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 0.3vh;
}
.miniHomeMsg p{
    width: 100%;
    text-align: start;
    overflow-wrap: break-word;
    font-size: 2vh;
}
.miniHomeMsg p strong{
    color: gray;
}

.miniSignup > h2, .miniLogin > h1, .miniNewUser > h1, .miniNewMember > h1, .miniNewMsg > h1{
    font-family: inherit;
    font-size: 3vw;
}
.miniAllMsg > h2{
    font-family: inherit;
    font-size: 2vw;
}
.miniSignup form, .miniLogin form, .miniSecretCnt form, .miniNewMsg form {
    height: 60vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1vh;
}
.miniSignup form button, .miniLogin form button, .miniSecretCnt form button, .miniNewMsg form button{
    width: 30%;
    font-family: inherit;
    border: 2px solid white;
    color: black;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1vh;
}
.miniSignup form button:hover, .miniLogin form button:hover, .miniSecretCnt form button:hover, .miniNewMsg form button:hover{
    color: gray;
    background-color: black;
    border: 2px solid gray;
}

.formCnt, .tinyLogin, .tinySecretCnt, .tinyNewMsg{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
}
.formCnt2{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.formCnt label, .formCnt2 label, .tinyLogin label, .tinySecretCnt label, .tinyNewMsg label{
    font-size: 1.3;
}
.formCnt input, .tinyLogin input, .tinySecretCnt input, .tinyNewMsg input, .tinyNewMsg textarea{
    width: 100%;
    height: 4vh;
    text-align: start;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 1.1vw;
    color: black;
    font-family: inherit;
}
.miniNewUser, .miniNewMember{
    justify-content: space-around;
}
.miniNewUser > p{
    font-family: inherit;
    font-size: 1.7vw;
}
.miniNewUser > p > a, .tinyNewMember > p > a{
    font-family: inherit;
    color: gray;
    text-decoration: none;
}
.miniNewUser > p > a:hover, .tinyNewMember > p > a:hover{
    text-decoration: underline;
}
.miniNewUser > a, .miniNewMember > a, .miniAllMsg > a{
    font-family: inherit;
    font-size: 0.9vw;
    text-decoration: none;
    color: gray;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
}
.miniNewUser > a:hover, .miniNewMember > a:hover, .miniAllMsg > a:hover{
    color: white;
    border: 2px solid white;
}

.tinyNewMember{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3vh;
}
.tinyNewMember > h2{
    align-self: center;
    font-size: 1.8vw;
    margin-bottom: 4vh;
}
.tinyNewMember > p{
    font-size: 1.3vw;
}

.tinyNewMsg textarea{
    height: 9vh;
}

.tinyAllMsg{
    min-height: 13vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vh;
    gap: 1vh;
    border: 2px solid gray;
    border-radius: 10px;
}
.superTinyAllMsg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7%;
    overflow-wrap: break-word;
}
.superTinyAllMsg h3, .superTinyAllMsg h4{
    width: 60%;
    text-align: left;
}
.superTinyAllMsg p{
    width: 33%;
    text-align: right;
    color: gray;
    font-size: 1vw;
}
.superTinyAllMsg h3{
    font-size: 1.3vw;
}
.superTinyAllMsg h4{
    font-size: 1vw;
    font-weight: 400;
}
.tinyAllMsg a {
    color: gray;
    text-decoration: overline;
}